In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Constitucion,CL,67.33,clear sky,-35.3333,-72.4167,Hotel Boutique Las Azucenas
1,25,Hermanus,ZA,71.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
2,27,Kapaa,US,74.19,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,31,Port Elizabeth,ZA,68.29,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
4,32,Wattegama,LK,70.95,overcast clouds,6.7989,81.4808,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# United States Travel Plan
# Grab and store the first hotel from the results.
us_vacation_df = vacation_df.loc[(vacation_df["Country"] == "US")]
us_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,27,Kapaa,US,74.19,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,39,Hilo,US,72.25,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
14,104,San Patricio,US,70.21,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
16,120,Lamar,US,71.37,clear sky,33.6668,-95.5836,Kings Inn Paris TX
19,127,Laguna,US,73.65,haze,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
26,192,Saint George,US,68.47,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
44,323,Pineville,US,68.25,clear sky,31.3224,-92.4343,"Country Inn & Suites by Radisson, Pineville, LA"
45,326,Selma,US,74.03,overcast clouds,36.5708,-119.6121,"Holiday Inn Selma-Swancourt, an IHG Hotel"
50,379,Wahiawa,US,72.46,clear sky,21.5028,-158.0236,Aloha Wahiawa
57,432,Midland,US,69.35,clear sky,31.9974,-102.0779,DoubleTree by Hilton Hotel Midland Plaza
61,465,Makakilo City,US,74.28,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
77,596,Shenandoah,US,67.08,overcast clouds,30.4013,-91.0009,Quality Suites Baton Rouge East - Denham Springs
81,636,Seagoville,US,73.15,clear sky,32.6396,-96.5383,Seagoville Inn Seagoville

In [6]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [7]:
us_vacation_df = us_vacation_df[new_column_order]

In [8]:
us_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
2,27,Kapaa,US,22.0752,-159.3190,74.19,few clouds
7,39,Hilo,US,19.7297,-155.0900,72.25,broken clouds
14,104,San Patricio,US,28.0170,-97.5169,70.21,clear sky
16,120,Lamar,US,33.6668,-95.5836,71.37,clear sky
19,127,Laguna,US,38.4210,-121.4238,73.65,haze
26,192,Saint George,US,37.1041,-113.5841,68.47,clear sky
44,323,Pineville,US,31.3224,-92.4343,68.25,clear sky
45,326,Selma,US,36.5708,-119.6121,74.03,overcast clouds
50,379,Wahiawa,US,21.5028,-158.0236,72.46,clear sky
57,432,Midland,US,31.9974,-102.0779,69.35,clear sky
61,465,Makakilo City,US,21.3469,-158.0858,74.28,clear sky
77,596,Shenandoah,US,30.4013,-91.0009,67.08,overcast clouds
81,636,Seagoville,US,32.6396,-96.5383,73.15,clear sky

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from US List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from US List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from US List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from US List you would like for your trip? "))
end = float(input("What is your Last City_ID from US List you would like for your trip? "))

What is your Starting City_ID from US List you would like for your trip? 323
What is your First Stop City_ID from US List you would like for your trip? 120
What is your Second Stop City_ID from US List you would like for your trip? 636
What is your Thirth Stop City_ID from US List you would like for your trip? 432
What is your Last City_ID from US List you would like for your trip? 104

In [10]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [11]:
# Start Vacation at:

vacation_start = us_vacation_df.loc[(us_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = us_vacation_df.loc[(us_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = us_vacation_df.loc[(us_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = us_vacation_df.loc[(us_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = us_vacation_df.loc[(us_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is Lamar, US
Your Frist Stop is Seagoville, US
Your Second Stop is Midland, US
Your Thirth Stop is San Patricio, US
Your Last Stop in your vacation is Kapaa, US

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat    33.6668
Lng   -95.5836
Name: 16, dtype: object

In [13]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat    32.6396
Lng   -96.5383
Name: 81, dtype: object

In [14]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat     31.9974
Lng   -102.0779
Name: 57, dtype: object

In [15]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat     28.017
Lng   -97.5169
Name: 14, dtype: object

In [16]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat    22.0752
Lng   -159.319
Name: 2, dtype: object

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Use DRIVING mode

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (20.7, -105.2)
stop1 = (17.48, -91.43)
stop2 = (27.98, -114.06)
stop3 = (23.17, -97.95)
end = (30.85, -116.07)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

us_vacation_df = pd.concat([us_vacation_df],ignore_index=True)
us_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,27,Kapaa,US,22.0752,-159.3190,74.19,few clouds
1,39,Hilo,US,19.7297,-155.0900,72.25,broken clouds
2,104,San Patricio,US,28.0170,-97.5169,70.21,clear sky
3,120,Lamar,US,33.6668,-95.5836,71.37,clear sky
4,127,Laguna,US,38.4210,-121.4238,73.65,haze
5,192,Saint George,US,37.1041,-113.5841,68.47,clear sky
6,323,Pineville,US,31.3224,-92.4343,68.25,clear sky
7,326,Selma,US,36.5708,-119.6121,74.03,overcast clouds
8,379,Wahiawa,US,21.5028,-158.0236,72.46,clear sky
9,432,Midland,US,31.9974,-102.0779,69.35,clear sky
10,465,Makakilo City,US,21.3469,-158.0858,74.28,clear sky
11,596,Shenandoah,US,30.4013,-91.0009,67.08,overcast clouds
12,636,Seagoville,US,32.6396,-96.5383,73.15,clear sky

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in us_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = us_vacation_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
city_mark = us_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)

In [21]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))